body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("./images/antena2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  

  color: #fdfdfd;
}

img{
  opacity: 0.5;
}
 